@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title ChessTD</h2>
<h3>@ViewBag.Message</h3>

<p>The goal of ChessTD is to provide chess tournament directors with an web based application with which to pair and manage informal chess tournaments.</p>
